body {
    background-color: cadetblue;
    font-style: italic;
    font-size: larger;
}

.container {
    width: 400px;
    margin: 20px auto 0px auto;
    background-color: aliceblue;
    padding: 0px 20px 15px 20px;
    color: indigo;
    text-align: left;
    border: 5px solid black;
    border-radius: 5%;
}

h1 {
    text-align: center;
}

.text {
    margin-top: 5px;
    width: 94%;
    padding: 10px;
    background-color: lightcyan;
    border: 3px solid black;

}

.margin-bottom {
    margin-bottom: 15px;
}

.button {
    background-color: rgb(35, 150, 64);
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 30px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 250px;
        height: 600px;
    }

}